<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Anger</string>
	<string>Fear</string>
	<string>Sadness</string>
	<string>Frustration</string>
	<string>Feeling overwhelmed</string>
	<string>Guilt</string>
	<string>Jealousy</string>
	<string>Resentment</string>
	<string>Anxiety</string>
</array>
</plist>
